body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

:root {
  --bg-color: #f0f0f0;
  --text-color: #000;
}

[data-theme="dark"] {
  --bg-color: #2c2c2c;
  --text-color: #fff;
}

header {
  text-align: center;
  margin: 20px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 80%;
  max-width: 1200px;
}

.timer-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

[data-theme="dark"] .timer-box {
  background: #444;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
  h3 {
    color: #000;
  }
  div.display {
    color: #444;
  }
}

.display {
  font-family: "Digital-7", sans-serif;
  font-size: 2em;
  margin: 10px 0;
}

.buttons button {
  font-size: 1em;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #0056b3;
}

#toggleThemeBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

#toggleThemeBtn:hover {
  background-color: #0056b3;
}
